<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <script>
           var isIE = /*@cc_on!@*/false || !!document.documentMode;
           if (isIE) {
               window.location = "../../public/stopit.php"
           }
    </script>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="resources/site.css">
        <link rel="stylesheet" type="text/css" href="vendor/twbs/bootstrap/dist/css/bootstrap.css">
        <title>MemeDB</title>
    </head>
    <body>
        <div class="header">
            <h2>MEMEDBB please work</h2>
            <div class="headercontainerleft">
                <div id="headerimageleft">
                    <img class="headerimage" src="resources/frog.gif" alt="frogmeme"/>
                </div>
            </div>
            <div class="headercontainerright">
                <div id="headerimageright">
                    <img class="headerimage" src="resources/frog.gif" alt="frogmeme"/>
                </div>
            </div>
            <div class="jumbotron addmemejumbotron">
                <p><a class="btn btn-lg btn-danger addmemebutton" href="#" role="button" onclick="document.location.href='/addmeme'">ADD MEME</a></p>
            </div>
        </div>
    <div class="album">
        <canvas id="myCanvas" width="1920" height="1080"></canvas>
    </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="vendor/twbs/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="vendor/twbs/bootstrap/assets/js/vendor/popper.min.js"></script>
        <script src="vendor/twbs/bootstrap/assets/js/vendor/holder.min.js"></script>
        <script>
            $(function () {
                Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
            });
        </script>
        <script src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
    </body>
<script>
    var images = {{ memes|json_encode|raw }};
    for (i = 0; i < images.length; i++) {
        var c = document.getElementById("myCanvas");
        var context = c.getContext('2d');
        var image = new Image();

        image.src = images[i].imageurl;
        var tempwidth = image.width;
        var tempheight = image.height;
        image.width = tempwidth * .2;
        image.height = tempheight * .2;
        var width = Math.floor(.1 * c.height);
        var height = Math.floor(.1 * c.height);

        image.onload = function () {
            var ratio = image.width / image.height;
            context.drawImage(this, width, height, image.width + (1920 * Math.random()), image.height + (1080 * Math.random()));
        };
    }
</script>
</html>
